.about {
  color: white;
  font-size: 160%;
  justify-content: space-between;
}

/* #con {
  background-image: url(../assets/grey.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: Palatino;
  text-align: center;
} */
