.first-half {
  background-color: #252827;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  height: "inherit";
  overflow-y: "auto";
  position: "relative";
}

.line {
  position: absolute;
  margin-top: auto;

  padding-bottom: 1%;
  text-align: center;
  width: 100%;
  font-style: oblique;
  color: white;
  top: 20em;
  font-weight: 600;
}

.heading {
  position: absolute;
  margin-top: auto;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  width: 100%;
  font-style: oblique;
  font-family: Palatino;
  color: white;
  top: 4em;
  font-size: 580%;
}
